body {
  background-color: rgb(23, 67, 129);
  font-family: 'Nanum Gothic', sans-serif;
  padding: 0;
  margin: 0;
}

.box-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding-right: 50px;
  margin-bottom: 60px;
}

.box-2 {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 500px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  width: 500px;
}

figcaption {
  font-size: .8rem;
}

audio {
  height: 50px;
  width: 200px;
  padding-left: 12.5%;
}

.link {
  color: white;
  text-decoration: none;
}

.thumbnail {
  height: 200px;
  width: 100%;
}

.title {
  color: white;
  font-size: 35px;
  line-height: 85px;
  padding-left: 8%;
}

.title h1, h2 {
  margin: 0;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/cover.png");
  background-repeat:no-repeat;
  background-size:cover;
  height: 47vh;

  border-bottom-style: solid;
  border-color: white;
  border-width: medium;
}

a {
  color: black;
}

li {
  list-style-type: none;
}

.flex-here {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

figure {
  margin: 0;
  height: 300px;
  width: 100%;
  border: white solid 5px;
  padding-top: 0;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;

  background-color: rgb(241, 243, 244);
}

.item-player-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

figure img {
  width: 15rem;
  height: 10rem;
}

figure figcaption {
  padding: 10px 0;

  text-align: center;
}

figure button {
  display: flex;
  align-self: flex-end;
  margin-right: 1rem;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

form p {
  display: inline-block;
  margin-right: 1rem;
}

form input {
  display: inline-block;
  margin-right: 1rem;
  height: 1rem;
}

form button {
  margin-right: 0.1rem;
}

#navigation {
  display: flex;
  justify-content: space-around;
}

.main-content {
  padding-top: 50px;
  width: 1200px;
  margin: auto;
}

#shop-items {
  padding-left: 0px;
  min-width: 100%;

  display: grid;
  grid-gap: 3rem;
  grid-column: column;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "item-1 item-2  item-3  item-4"
                       "item-5 item-6  item-7  item-8"
                       "item-9 item-10 item-11 item-12";
}

.gif {
  width: 100%;
}

.item-1 {
  grid-area: "item-1";
}

.item-2 {
  grid-area: item-2;
}

.item-3 {
  grid-area: item-3;
}

.item-4 {
  grid-area: item-4;
}

.item-5 {
  grid-area: item-5;
}

.item-6 {
  grid-area: item-6;
}

.item-7 {
  grid-area: item-7;
}

.item-8 {
  grid-area: item-8;
}

.item-9 {
  grid-area: item-9;
}

.item-10 {
  grid-area: item-10;
}

.item-11 {
  grid-area: item-11;
}

.item-12 {
  grid-area: item-12;
}
